NODE_ENV=development
PORT=3001
BASE_PATH_DEV=/apps/pdms-new/mapas
BASE_PATH_PROD=/pdms/mapas

# Gateway (para validação de sessão)
GATEWAY_BASE_PATH_DEV=/apps/pdms-new
GATEWAY_BASE_PATH_PROD=/pdms
GATEWAY_VALIDATE_DEV=http://localhost:6000/apps/pdms-new/validate-session
GATEWAY_VALIDATE_PROD=http://gateway:6000/pdms/validate-session
